name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write
  id-token: write

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release

    environment:
      name: pypi
      url: https://pypi.org/p/smallpebble

    if: "!contains(github.event.head_commit.message, 'chore(release):')"
    
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Python Semantic Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          uv tool install python-semantic-release
          semantic-release version

      - name: Publish to PyPI
        if: hashFiles('dist/*') != ''  
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages_dir: dist/
